@font-face {
    font-family: "icons";
    src: url("./icons.eot?c6b244515df4488ce844b3db3b739b60#iefix") format("embedded-opentype"),
url("./icons.woff2?c6b244515df4488ce844b3db3b739b60") format("woff2"),
url("./icons.woff?c6b244515df4488ce844b3db3b739b60") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\f101";
}
.icon-arrow-left:before {
    content: "\f102";
}
.icon-arrow-right:before {
    content: "\f103";
}
.icon-arrow-up:before {
    content: "\f104";
}
.icon-caret-down:before {
    content: "\f105";
}
.icon-caret-up:before {
    content: "\f106";
}
.icon-chevron-right-ii:before {
    content: "\f107";
}
.icon-chevron-right:before {
    content: "\f108";
}
.icon-close:before {
    content: "\f109";
}
.icon-cv:before {
    content: "\f10a";
}
.icon-done:before {
    content: "\f10b";
}
.icon-figma:before {
    content: "\f10c";
}
.icon-file-ii:before {
    content: "\f10d";
}
.icon-file:before {
    content: "\f10e";
}
.icon-folder:before {
    content: "\f10f";
}
.icon-game:before {
    content: "\f110";
}
.icon-github:before {
    content: "\f111";
}
.icon-info:before {
    content: "\f112";
}
.icon-linkedin:before {
    content: "\f113";
}
.icon-mail:before {
    content: "\f114";
}
.icon-menu:before {
    content: "\f115";
}
.icon-phone:before {
    content: "\f116";
}
.icon-telegram:before {
    content: "\f117";
}
.icon-terminal:before {
    content: "\f118";
}
.icon-twitter:before {
    content: "\f119";
}
.icon-whatsapp:before {
    content: "\f11a";
}
