@font-face {
    font-family: "icons";
    src: url("./icons.eot?42ef712a12ad5893334e35a0a03f7de4#iefix") format("embedded-opentype"),
url("./icons.woff2?42ef712a12ad5893334e35a0a03f7de4") format("woff2"),
url("./icons.woff?42ef712a12ad5893334e35a0a03f7de4") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\f101";
}
.icon-arrow-left:before {
    content: "\f102";
}
.icon-arrow-right:before {
    content: "\f103";
}
.icon-arrow-up:before {
    content: "\f104";
}
.icon-chevron-right-ii:before {
    content: "\f105";
}
.icon-chevron-right:before {
    content: "\f106";
}
.icon-close:before {
    content: "\f107";
}
.icon-file:before {
    content: "\f108";
}
.icon-folder:before {
    content: "\f109";
}
.icon-github:before {
    content: "\f10a";
}
.icon-linkedin:before {
    content: "\f10b";
}
.icon-telegram:before {
    content: "\f10c";
}
.icon-twitter:before {
    content: "\f10d";
}
.icon-whatsapp:before {
    content: "\f10e";
}
